doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    h1
      span.title="beta"
      a(href="/")
        span.image

    block content

    div.bottom
      spam.credits="תוכן האתר תחת " 
      a(href="https://creativecommons.org/licenses/by-sa/4.0/")="CC BY-SA 4.0"
