body {
  padding: 0px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  direction: rtl;
  padding: 0px;
  margin: 0px;
}


div.bottom {
  background-color: #3174c4;
  color: #eeeeec;
  text-align: center;
  height: 38px;
  line-height: 38px;
}

div.bottom a {
  color: #fce94f;
}

h1 {
  height: 42px;
  height: 51px;
  margin: 0px;
  background: #3465a4 url(https://whatsup.org.il/themes/WhatsupNG/images/blue_waves.png);
}

h1 span.logo {
  background-image: url("http://whatsup.co.il/whatsup/images/mobile_logo.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position-y: center;
  float: right;
  height: 100%;
  width: 38px;
}

h1 span.title {
  color: #eeeeec;
  /* text-shadow: 1px 1px 2px black;  */
  text-shadow: #222 1px 0 10px;
  /* text-shadow: 2px 2px black;  */
  overflow: hidden;
  height: 100%;
  padding-right: 5px;
  margin-right: 5px;
  font-size: 28px;
}

h1 span.image {
  background: url(https://whatsup.org.il/themes/WhatsupNG/images/header_logo.png);
  width: 181px;
  height: 51px;
  float: left;
}

pre {
  direction: ltr;
}

a {
  /* color: #00B7FF; */
  color : #f57900;
}

div.articles {
  padding: 0px;
}

div.article {
  padding: 5px;
  margin-bottom: 10px;
}

div.date {
  border-bottom: 1px solid silver;
  margin-bottom: 10px;
}

div.articles div.comments {
  padding: 5px;
}

div.topic div.comments div.title, 
div.topic div.comments div.content {
  padding: 0px 5px 0px 5px;
}

div.comments div.comment {
}

div.comments div.title {
  background-color: #e2e9f1;
  line-height: 2em;
}

div.comments div.title span.prefix {
  font-weight: bold;
}

div.comments div.title span.author {
  font-weight: bold;
}

div.comments div.title span.date {
}

div.comments div.comment {
  padding-bottom: 5px;
  margin-bottom: 1px solid blue;
  margin-bottom: 10px;
}

div.comments div.comment div.author {
  background-color: #d0dde6;
}

div.comments div.comment:first  div.content {
  background-color: #e9eff4;
}

div.comments div.comment div.content {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #ececdd;
  padding-top: 10px;
  padding-bottom: 10px;
}
      
.code {
	/* direction: ltr;
	background: #eee;
  border: 1px dotted #777;
   */

  background-color: #f8f8ff;
  color: #000000;
    /* font: 12px Courier,'Courier New',sans-serif; */
  overflow: auto;
  max-height: 200px;
  margin: 0 20px;
  padding: 5px;
  direction: ltr;
  border-top: 1px solid #73d216;
  border-bottom: 1px solid #73d216;
  border-right: 0 none;
  border-left: 0 none;
}
